# MongoDB Connection String
MONGO_URI=mongodb+srv://admin:srQPIvbch0Veery8@cluster0.i4qvqex.mongodb.net/

# Server Port
PORT=3000

# JWT Secret (for authentication)
JWT_SECRET=232a648e25adb6176bf41d741ce31d9ac89748f5d0f10bbdfdeae3fd2a8991cd